<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="HmsAdmin.Master.cs" Inherits="BRBERP.HMS.MP.HmsAdmin" %>

<!DOCTYPE html>

<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BRB HMS System</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%--<link rel="icon" href="favicon.ico" type="image/x-icon" />--%>

    <link rel="icon" href="../../formaster/favicon.ico" type="image/x-icon" />


    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="../../formaster/plugins/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../formaster/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../../formaster/plugins/icon-kit/dist/css/iconkit.min.css">
    <link rel="stylesheet" href="../../formaster/plugins/ionicons/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="../../formaster/plugins/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="../../formaster/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../formaster/plugins/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="../../formaster/plugins/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="../../formaster/plugins/weather-icons/css/weather-icons.min.css">
    <link rel="stylesheet" href="../../formaster/plugins/c3/c3.min.css">
    <link rel="stylesheet" href="../../formaster/plugins/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../formaster/plugins/owl.carousel/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="../../formaster/dist/css/theme.min.css">

    <%--<link rel="stylesheet" href="../../formaster/style/custom.css">--%>

    <script src="../../formaster/src/js/vendor/modernizr-2.8.3.min.js"></script>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="wrapper">
        <header class="header-top" header-theme="light" style="background-color: #0EC0B2">
            <div class="container-fluid">
                <div class="d-flex justify-content-between">
                    <div class="top-menu d-flex align-items-center">
                        <button type="button" class="btn-icon mobile-nav-toggle d-lg-none"><span></span></button>
                        <div class="header-search">
                        </div>
                        <button type="button" id="navbar-fullscreen" class="nav-link hidden"><i class="ik ik-maximize"></i></button>
                    </div>
                    <div class="top-menu d-flex align-items-center">
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <%--<img class="avatar" src="../../formaster/img/user.jpg" alt="">--%>



                                <button type="button" style="border-radius: 15px;">
                                    <i class="ik ik-user"></i>
                                </button>
                                <asp:Label runat="server" ID="lblUserName" Style="font-family: verdana; font-weight: bold;"></asp:Label>
                                <%--<label style="font-family: verdana; font-weight: bold;">Md. Hasibur Rahman</label>--%>
                                <%--<i class="mdi-navigation-expand-more right"></i>--%>
                                <%--<span class="user-name">Md. Hasibur Rahman<i class="icon-angle-down"></i>
                            </span>--%>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                    <br />
                                    <a class="dropdown-item" href="../../LogintoHMS.aspx"><i class="ik ik-power dropdown-icon"></i>Logout</a>
                                </div>
                        </div>

                    </div>
                </div>
            </div>
        </header>

        <div class="page-wrap">
            <div class="app-sidebar colored">
                <div class="sidebar-header">
                    <a class="header-brand" href="index.html">
                        <div class="logo-img">
                            <img src="../../formaster/img/head.png" class="header-brand-img" style="margin-left: -15px; width: 55px; height: 60px">
                        </div>
                        <span class="text" style="font-weight: bold; font-size: small; margin-left: 5px; color: #0EC0B2">BRB HOSPITALS LTD.</span>
                    </a>
                    <button type="button" class="nav-toggle"><i data-toggle="expanded" class="ik ik-toggle-right toggle-icon"></i></button>
                    <button id="sidebarClose" class="nav-close"><i class="ik ik-x"></i></button>
                </div>

                <div class="sidebar-content">
                    <div class="nav-container" runat="server" id="dvmn">
                        <nav id="main-menu-navigation" class="navigation-main">


                            <div class="nav-lavel">Dashboard</div>
                            <div class="nav-item">
                                <a href="#"><i class="ik ik-bar-chart-2"></i><span>Dashboard</span></a>
                            </div>

                            <div class="nav-lavel">Setup</div>
                            <div class="nav-item has-sub">
                                <a href="#"><i class="ik ik-layers"></i><span>Hospital Setup</span></a>
                                <div class="submenu-content">
                                    <a href="../../HMS/Setup/UserSetup.aspx" class="menu-item">User Setup</a>
                                    <a href="../../HMS/Setup/HpDepartment.aspx" class="menu-item">Department</a>
                                    <a href="../../HMS/Setup/HpSubDepartment.aspx" class="menu-item">Sub Department</a>
                                </div>
                            </div>
                            <div class="nav-item has-sub">
                                <a href="#"><i class="ik ik-gitlab"></i><span>Lab Setup</span></a>
                                <div class="submenu-content">
                                    <a href="al.com" class="menu-item">Department1</a>
                                    <a href="bl.com" class="menu-item">Sub Department1</a>
                                </div>
                            </div>

                            <div class="nav-lavel">Workspace</div>
                            <div class="nav-item has-sub">
                                <a href="#"><i class="ik ik-box"></i><span>Basic</span></a>
                                <div class="submenu-content">
                                    <a href="#" class="menu-item">Department</a>
                                    <a href="#" class="menu-item">Sub Department</a>
                                </div>
                            </div>

                            <div class="nav-lavel">Reporting</div>
                            <div class="nav-item has-sub">
                                <a href="#"><i class="ik ik-box"></i><span>Lab Report</span></a>
                                <div class="submenu-content">
                                    <a href="#" class="menu-item">Report1</a>
                                    <a href="#" class="menu-item">Report2</a>
                                </div>
                            </div>
                            <div class="nav-item has-sub">
                                <a href="#"><i class="ik ik-box"></i><span>OPD Report</span></a>
                                <div class="submenu-content">
                                    <a href="#" class="menu-item">Report1</a>
                                    <a href="#" class="menu-item">Report2</a>
                                </div>
                            </div>
                            <div class="nav-item has-sub">
                                <a href="#"><i class="ik ik-box"></i><span>IPD Report</span></a>
                                <div class="submenu-content">
                                    <a href="#" class="menu-item">Report1</a>
                                    <a href="#" class="menu-item">Report2</a>
                                </div>
                            </div>

                            <div class="nav-lavel">Developer</div>
                            <div class="nav-item has-sub">
                                <a href="#"><i class="ik ik-box"></i><span>Content</span></a>
                                <div class="submenu-content">
                                    <a href="#" class="menu-item">Dev Tools</a>
                                </div>
                            </div>

                        </nav>
                    </div>
                </div>
            </div>
            <div class="main-content">
                <div class="container-fluid">
                    <div class="col-lg-12">
                        <div class="row">

                            <asp:ContentPlaceHolder ID="bodycontent" runat="server">
                            </asp:ContentPlaceHolder>

                        </div>
                    </div>

                </div>
            </div>



            <footer class="footer">
                <div class="w-100 clearfix">
                    <span class="text-center text-sm-left d-md-inline-block">Copyright © 2019 <strong>BRB HOSPITALS LTD.</strong> All Rights Reserved.</span>
                </div>
            </footer>

        </div>
    </div>

    <script type="text/javascript" src="../../formaster/crud/jquery.min.js"></script>
    <script type="text/javascript" src="../../formaster/crud/json2.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../formaster/src/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="../../formaster/plugins/popper.js/dist/umd/popper.min.js"></script>
    <script src="../../formaster/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../formaster/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <script src="../../formaster/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../../formaster/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../formaster/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../formaster/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <%--<script src="../../formaster/plugins/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="../../formaster/plugins/jvectormap/tests/assets/jquery-jvectormap-world-mill-en.js"></script>--%>
    <script src="https://cdn.jsdelivr.net/npm/jvectormap@2.0.4/jquery-jvectormap.min.js"></script>

    <script src="../../formaster/plugins/moment/moment.js"></script>
    <script src="../../formaster/plugins/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="../../formaster/plugins/d3/dist/d3.min.js"></script>
    <script src="../../formaster/plugins/c3/c3.min.js"></script>
    <script src="../../formaster/js/tables.js"></script>
    <script src="../../formaster/js/widgets.js"></script>
    <script src="../../formaster/js/charts.js"></script>
    <script src="../../formaster/dist/js/theme.min.js"></script>



    <asp:ContentPlaceHolder ID="footer" runat="server">
    </asp:ContentPlaceHolder>

</body>
</html>
